* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #333333; */
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #333333;
}

h1 {
    padding-top: 40px;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
}

button {
    border-radius: 20px;
    background-color: #1db1f0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


/* home */

div.contenedor {
    display: grid;
    grid-template-columns: 65% 30%;
    grid-template-rows: 45%;
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    grid-template-areas: "carousel propaganda""explorar propaganda";
}


/* header {
    width: auto;
    height: 73px;
    background: rgb(0, 0, 0);
} */

.carousel {
    margin-top: 5%;
    width: 750px;
    height: 300px;
    position: relative;
    margin-left: 90px;
    grid-area: carousel;
}

.carousel-inner {
    width: 750px;
    height: 300px;
    justify-content: end;
}

.carousel-item img {
    height: 300px;
}

.propaganda {
    height: 600px;
    background-color: rgba(40, 190, 245, 1);
    grid-area: propaganda;
    margin-right: 100px;
    border-radius: 30px;
    text-align: center;
    margin-top: 50px;
}

.propaganda img {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 90%;
}

.propaganda p {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-style: bold;
    line-height: 1;
}


/* NAV */

.navigation {
    position: fixed;
    width: 60px;
    height: 100%;
    overflow: hidden;
    background: #1db1f0;
    z-index: 1;
    /* background: rgba(4f, 4f, 4f, 0.4); */
}

.navigation:hover,
.navigation.active {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    text-decoration: none;
}

.navigation ul li:hover {
    background: darkblue;
}

.navigation ul li a,
.navigation ul li {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
}

.navigation ul li a .icon,
.navigation ul li .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa,
.navigation ul li .icon .fa {
    font-size: 24px;
}

.navigation ul li a .title,
.navigation ul li .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li .title input {
    width: 150px;
}

.navigation ul li button {
    /* color: #000000; */
    background-color: #1DB1F0;
    height: 30px;
    position: relative;
    display: block;
    padding: 0 10px;
    margin-top: 16px;
    margin-right: 5px;
    white-space: nowrap;
    border: none;
    border-radius: 10px;
}

.navigation ul li input {
    height: 30px;
    width: 100%;
    color: #000000;
    position: relative;
    display: block;
    padding: 0 10px;
    margin-top: 16px;
    white-space: nowrap;
    border-radius: 10px;
}

.toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #1db1f0;
    cursor: pointer;
    z-index: 1;
}

.toggle.active {
    background: darkblue;
}

.toggle:before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: right;
    padding-right: 20px;
    font-size: 24px;
    color: #fff;
}

.toggle.active:before {
    content: '\f00d';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}


/* Sidebar abarcar toda la pantalla */

@media(max-width:650px) {
    .navigation {
        left: -60px;
    }

    .navigation.active {
        left: 0px;
        width: 100%;
    }
}


/* FOOTER - REPRODUCTOR */

footer {
    position: absolute;
    width: auto;
    height: 55px;
    left: -1px;
    bottom: 0;
    z-index: 2;
    /* background-image: url("img/reproductor.png"); */
}

.reproductor .foto {
    grid-area: fotoR;
    margin: 5px;
    margin-left: 10px;
}

.reproductor .cancion {
    grid-area: cancion;
}

.reproductor .artista {
    grid-area: artista;
}

.reproductor .type {
    grid-area: type;
    border-left: 1px white solid;
    padding-left: 10px;
    /* place-self: center; */
}

.reproductor .heart {
    grid-area: heart;
    font-size: 25px;
}

.reproductor .opciones {
    grid-area: opciones;
}


/* Ranking star */

.reproductor .star {
    grid-area: star;
}

.checked {
    color: orange;
}

.reproductor .player {
    grid-area: player;
    justify-items: stretch;
    /* align-items: stretch; */
}

.reproductor .player i.fa-step-backward,
.reproductor .player i.fa-step-forward {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 25px;
}

.reproductor .player i.fa-play-circle-o {
    font-size: 40px;
}


/* Volumen */

.reproductor .volume {
    grid-area: volume;
}

input.range {
    width: 100px;
}

.reproductor .playlist {
    grid-area: playlist;
}

.reproductor {
    border-top: solid 2px white;
    width: 100%;
    height: 55px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(29, 28, 28, 1) 25%, rgba(29, 28, 28, 1) 50%, rgba(29, 28, 28, 1) 75%, rgba(0, 0, 0, 1) 100%);
    position: fixed;
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: 6% 10% 5% 5% 10% 20% 10% 15% 5%;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-template-areas: "fotoR cancion type heart opciones player star volume playlist""fotoR artista type heart opciones player star volume playlist"
}

.reproductor img.foto {
    width: 40px;
    height: 40px;
    grid-area: fotoR;
}


/* FORM */


/* Registrar */


/* Password */

.container i {
    margin-left: -30px;
    cursor: pointer;
}

form {
    box-sizing: border-box;
    padding: 0;
}

form input {
    border: #6d858f;
    padding: 10px;
    width: 600px;
}

.titulo {
    grid-area: titulo;
    text-align: center;
    margin-left: 60px;
}

.registrar1 {
    grid-area: registrar1;
    background-color: #4267B2;
}

.registrar2 {
    grid-area: registrar2;
}

form {
    grid-area: form;
}

.form {
    position: relative;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    grid-template-areas: "titulo titulo""registrar1 registrar2""form form";
    background-color: rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 660px;
    margin-left: 27%;
    margin-right: 25%;
    text-align: center;
    margin-bottom: 10px;
}

.register-fb,
.register-google {
    padding: 5px;
    border: none;
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    margin-left: 10px;
}

.register-fb {
    margin-left: 90px;
    background-color: #4267B2 !important;
}

.register-google {
    background-color: #ffffff;
}

.register-google a {
    color: #828282;
    white-space: nowrap;
}

div.container {
    box-sizing: border-box;
}

div.input form input.input {
    margin-left: 20%;
    margin-bottom: 10%;
    width: 500px;
    height: 45px;
    padding: 5px;
    border: 5px;
    border-color: #1db1f0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

div.input form {
    justify-content: center;
    text-align: center;
}

div.input form .container #togglePassword {
    justify-content: end;
}

.container>i {
    z-index: 3;
    width: 1130px;
}

.nombre {
    margin-left: -33%;
}

.contraseña {
    margin-left: -24%;
}


/* .form {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    grid-template-areas: "registrar1 registrar2";
    background-color: #000000;
    width: 700px;
    height: 706px;
    position: absolute;
    text-align: center;
   
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.register-fb a {
    background-color: #4267B2 !important;
    color: white;
}
.register-google img,
.register-google a {
    background-color: white;
    align-self: center;
} */

.button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #1DB1F0;
    position: relative;
    margin-left: 90%;
}


/* FAQ o Q&A */


/* ACORDION */

div.acordeon {
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #BDBDBD;
}

ul.acordeon li+div {
    overflow: hidden;
    height: auto;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    transition-timing-function: ease;
    justify-content: center;
}

ul.acordeon li+div.visible {
    max-height: 100vh;
    text-decoration: none;
}

ul.acordeon {
    width: 100%;
    list-style-type: none;
}

ul.acordeon li {
    padding: auto;
    justify-content: center;
    height: 40px;
    background-color: #4F4F4F;
    text-align: center;
    border-radius: 5px;
    border-color: white;
    font-size: 20px;
}

ul.acordeon div {
    margin: 10px;
    background-color: #333333;
    transform-style: preserve-3d;
}

ul.acordeon div.cont:hover {
    box-shadow: 0 0 5px #e2dcdd, 0 0 100px #b8a8ad, 0 0 10px #d17191;
    transform-style: preserve-3d;
    transform: scale(1.06);
    width: auto;
    height: auto;
}


/* PLANES */

.cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    background: none;
    color: white;
    text-align: center;
    column-gap: 5px;
    padding: auto;
}

.card {
    position: relative;
    width: 90%;
    height: 500px;
    padding-top: 40px;
    border-radius: 30px;
    background-color: #1DB1F0;
}

.card .price {
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
    padding-right: auto;
    /* background-color: #1DB1F0; */
}

.card h2 {
    /* background-color: #1DB1F0; */
    text-align: center;
}

.card img {
    height: 30px;
    width: 30px;
    /* background-color: #1DB1F0; */
}

.card .box-inside {
    padding-top: 20px;
    padding-left: 10px;
    /* background-color: #1DB1F0; */
}

.card .description {
    padding: 5px;
    /* background-color: #1DB1F0; */
    text-align: left;
}

.button-plan {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #06709e;
}


/* PLAYLIST */

.titulo {
    grid-area: titulo;
}

.c1 {
    grid-area: sub1;
    border-bottom: 3px solid #1db1f0;
}

.c1 p {
    margin: 0;
    padding: 0;
}

.c2 {
    grid-area: sub2;

}

.c3 {
    grid-area: sub3;
}

.c4 {
    grid-area: sub4;
}

.titulo,
.c1,
.c2,
.c3,
.c4 {
    margin-top: 20px;
}

.c1:hover,
.c2:hover,
.c3:hover,
.c4:hover {
    background-color: rgba(255, 255, 255, 0.3);

}

div.explorar {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 90px;
    width: 750px;
    height: 360px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "sub1 sub2 sub3 sub4""c c c c";
    background-color: rgba(33, 33, 33, 0.5);
    text-align: center;
    grid-area: explorar;
}

.icon {
    width: 25px;
    width: 25px;
    /* visibility: hidden; */
}


/* Playlist */
.container {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 20%;
    justify-items: stretch;
    grid-template-areas: "a b"
        "c c";
}

.top-left {
    margin-top: 20px;
    grid-area: a;
    display: grid;
    grid-template-areas: "col1 col2 col2";
}

.btn-calificar {
    background-color: #828282;
    color: #BDBDBD;
    border-radius: 10px;
    margin-left: 0px;
    width: 234px;
    height: 30px;

}

.dropdown-menu {
    background-color: #828282;
}

.dropdown-item:hover {
    color: #BDBDBD;
    background-color: #828282;
}

.stars-voted-user>i {
    margin-left: 15px;
    justify-self: stretch;
    color: black;
}

.stars-voted-user>i:hover {
    color: yellow;
}

.top-left>.col1 {
    grid-area: col1;
    display: grid;
    justify-items: end;
}

.top-left>.col1:hover .play-hide {
    display: block;
}

.playlist-icons {
    display: grid;
    margin-top: 20px;
    margin-left: 20%;
    grid-template-areas: "a b c";
}

.playlist-icons>i {
    color: #828282;
}


.play-hide {
    position: absolute;
    transform: scale(3.5);
    margin-top: 7%;
    margin-left: 500px;
    display: none;
}

.top-left>.col2 {
    margin-top: 20px;
    margin-left: 30px;
    grid-area: col2;
    justify-items: start;
}

.playlist-tittle {
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.playlist-subtittle {
    font-weight: 500;
    font-size: 18.9771px;
    line-height: 33px;
    letter-spacing: 0.13555px;
    color: #828282;
}

.top-right {
    grid-area: b;
    margin-top: 3%;
    background-color: #2E2E2E;
    stroke-width: 2px;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
}

.top-right>.playlist-subtittle {
    position: absolute;
    margin-top: 0%;
    background-color: #2E2E2E;
    width: 35%;
    color: #BDBDBD;
}


.comentarios {
    margin-top: 35px;
}

.opiniones {
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 7px;
    background-color: #393939;
    font-weight: 500;
    font-size: 18.9771px;
    line-height: 33px;
    letter-spacing: 0.13555px;
}

.opiniones>div {
    display: grid;
    grid-template-areas: "usu usu usu icono";
}

.icons-usuario {
    margin-top: 10px;
    grid-area: icono;
    justify-items: right;
    display: grid;
    grid-template-areas: "stars ico1 ico2";
}

.icons-usuario>i {
    color: #828282;
}

.fa-thumbs-o-up:active {
    transform: scale(2.0);
    color: #1DB1F0;
}

.opiniones .usuario {
    grid-area: usu;
    color: #828282;
}

.opiniones>.opinion {
    margin-top: -15px;
    color: #BDBDBD;
}

.song-list {
    width: 100%;
    grid-area: c;
    margin-top: 10px;
    height: 100%;
    overflow: auto;
}

.song-list>li {
    list-style: none;
    display: grid;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 15px;
    background-color: #393939;
    color: #1DB1F0;
    grid-template-columns: 45% 35% 10% 10%;
    grid-template-areas: "a b c d";
    cursor: pointer;
}

.song-list>li .item1 {
    grid-area: a;
    display: grid;
    margin-left: 20px;
    justify-items: left;
}

.song-list>li .item1:hover {
    color: #1DB1F0;
}

.song-list>li .item2 {
    grid-area: b;
    display: grid;
    justify-items: left;
}

.song-list>li .item2:hover {
    color: #1DB1F0;
}

.song-list>li .item3 {
    grid-area: c;
    display: grid;
    justify-items: end;
}

.song-list>li .item4 {
    grid-area: d;
    display: grid;
}

.song-list>li:hover {
    transform: scale(1.007);
    transition-delay: 2.5s ease-in;
    color: #252525;
    background-color: #2a6f8d;
}


/* BUSQUEDAS */

div.filtros {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    grid-column-gap: 10px;
    grid-template-rows: auto;
    padding-bottom: 20px;
}

p.filtro {
    margin-top: 10px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    width: fit-content;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

p.filtro:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.cajas {
    margin-top: 30px;
}

.resultados {
    padding-top: 80px;
    /* margin: 100px; */
    margin-left: 20%;
}

.canciones {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 800px;
}

.fotoArtista {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    grid-area: fotoLista;
}

.fotoLista {
    width: 80px;
    height: 80px;
    grid-area: fotoLista;
}

.fotoRep {
    width: 80px;
    height: 60px;
    grid-area: fotoLista;
}

.resultados ul {
    list-style: none;
}

.nombreCancion {
    grid-area: nombreCancion;
    font-weight: bold;
}

.detalles {
    grid-area: detalles;
}

li.listaR {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: grid;
    padding: 10px;
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: auto;
    grid-template-areas: "fotoLista nombreCancion dropdown""fotoLista detalles dropdown";
}


/* Dropup */

.dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: rgba(0, 0, 0, 1);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropup-content a.active {
    background-color: #1DB1F0;
}

#playlist {
    min-width: 300px
}


/* Dropdown */

.dropdown {
    /* background-color: rgba(0, 0, 0, 0.3); */
    grid-area: dropdown;
    justify-self: end;
}

.dropbtn {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown,
.dropup {
    position: relative;
    display: inline-block;
}

.dropdown button {
    background-color: rgba(0, 0, 0, 0);
}

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #2E2E2E;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a,
.dropup-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.dropup-content a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.dropdown:hover .dropdown-content,
.dropup:hover .dropup-content {
    display: block;
}

.dropdown:hover .dropbtn,
.dropup:hover .dropbtn {
    background-color: none;
}


/* MOBILE */

@media only screen and (max-width: 600px) {
    .toggle {
        position: absolute;
        top: 0;

        width: 100%;
        height: 60px;
        background: #1db1f0;
        cursor: pointer;
        z-index: 1;
    }


    /* NAV */
    /* Playist */
    .playlists .icon {
        visibility: hidden;
    }

    .c1,
    .c2,
    .c3,
    .c4 {
        visibility: hidden;
    }

    div.explorar {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 95%;
        grid-template-rows: auto;
        grid-template-areas: "titulo""foto""playlists";
        background-color: rgba(33, 33, 33, 0.3);
        margin: 10px;
        text-align: center;
    }

    .col1 img {
        margin-top: 20px;
        width: 170px;
        height: 170px;
    }

    .col2 {
        margin: 0;
        padding: 0;
    }

    div.container {
        margin: 0;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "a""c""b";
        font-size: 15px;
    }

    .top-left {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .top-left p {
        padding: 0;
        margin: 0;
    }

    .song-list {
        margin: 0;
        padding: 0;
    }

    /* HOME */
    .contenedor {
        display: grid;
        grid-template-columns: 95%;
        grid-template-rows: auto;
        grid-template-areas: "carousel""explorar""propaganda";
    }

    /* Carousel */
    .carouselExampleIndicators,
    .carousel-inner,
    .carousel {
        margin: 0;
        width: 100%;
    }

    /* PLANES */
    div.cards {
        margin-left: 50px;
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: auto;
        grid-template-areas: "card4""card3""card2""card1";
    }

    div.card {
        height: auto;
        margin: 10px;
        padding: 5px;
    }

    /* Q & A */
    div.acordeon {
        padding-top: 70px;
        margin: 0;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 15px;
    }

    div.acordeon li {
        padding: 8px;
        height: auto;
        text-align: start;
        font-size: 15px;
    }

    ul.acordeon div.cont {
        padding: 0;
        margin: 5px;
    }

    /* FORMULARIOS, Registrar */
    .form {
        padding: 0;
        margin: 0;
        padding-top: 80px;
        height: auto;
        width: auto;
    }

    div.input {
        margin-top: 20px;
    }

    div.input input#texto1,
    div.input input#texto2,
    div.input input#texto3 {
        margin-left: 30px;
        width: 310px;
        margin-top: 5px;
    }

    /* BUSQUEDAS */
    .filtros {
        overflow: auto;
    }

    .filtro {
        font-size: 15px;
    }

    .resultados {
        margin: 10px;
        margin-bottom: 80px;
    }

    .canciones {
        width: 100%;
    }

    .fotoLista,
    .fotoArtista {
        width: 50px;
        height: 50px;
    }

    .fotoRep {
        height: 40px;
        width: 50px;
    }

    li.listaR {
        font-size: 15px;
        grid-template-columns: 15% 75% 10%;
    }

    .detalles,
    .nombreCancion {
        margin-left: 10px;
    }

    h1 {
        padding-top: 100px;
    }
}