* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #333333; */
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #333333;
}

h1 {
    margin-top: 40px;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    width: auto;
    height: 73px;
    background: rgb(0, 0, 0);
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(79, 79, 79, 1) 40%, rgba(79, 79, 79, 1) 60%, rgba(0, 0, 0, 1) 100%); */
}

.carousel {
    width: 700px;
    height: 300px;
    position: relative;
}

.carousel-inner {
    width: 700px;
    height: 300px;
    justify-content: end;
}


/* NAV */

.navigation {
    position: fixed;
    width: 60px;
    height: 100%;
    overflow: hidden;
    background: #1db1f0;
    /* background: rgba(4f, 4f, 4f, 0.4); */
}

.navigation:hover,
.navigation.active {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    text-decoration: none;
}

.navigation ul li:hover {
    background: darkblue;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa {
    font-size: 24px;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #1db1f0;
    cursor: pointer;
}

.toggle.active {
    background: darkblue;
}

.toggle:before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.toggle.active:before {
    content: '\f00d';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}


/* Sidebar abarcar toda la pantalla */

@media(max-width:650px) {
    .navigation {
        left: -60px;
    }
    .navigation.active {
        left: 0px;
        width: 100%;
    }
}


/* FOOTER - REPRODUCTOR */

footer {
    position: absolute;
    width: auto;
    height: 73px;
    left: -1px;
    top: 640px;
    /* background-color: #000000; */
    /* background-image: url("img/reproductor.png"); */
}

.reproductor {
    position: fixed;
    /* display: inline-block;
    position: relative; */
    /* background-image: url("img/reproductor.png");
    width: 100%;
    height: 50px; */
}


/* FORM */


/* Password */

.container i {
    margin-left: -30px;
    cursor: pointer;
}

form {
    box-sizing: border-box;
    padding: 0;
}

form input {
    border: #6d858f;
    padding: 10px;
    width: 120px;
}

.form {
    background-color: #000000;
    width: 700px;
    height: 706px;
    position: absolute;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
}

.register-fb {
    background-color: #4267B2;
    padding: 5px;
    border: none;
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    margin-left: 100px;
}

.register-fb a {
    background-color: #4267B2 !important;
    /* text-decoration: none; */
    color: white;
}

.register-google {
    background-color: #ffffff;
    padding: 5px;
    /* border-radius: 10px; */
    border: none;
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    margin-right: 100px;
}

.register-google img,
.register-google a {
    background-color: white;
    color: #828282;
    align-self: center;
}

.button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #1DB1F0;
}


/* ACORDION */

div.acordeon {
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #BDBDBD;
}

ul.acordeon li+div {
    overflow: hidden;
    height: auto;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    transition-timing-function: ease;
    justify-content: center;
}

ul.acordeon li+div.visible {
    max-height: 100vh;
    text-decoration: none;
}

ul.acordeon {
    width: 100%;
    list-style-type: none;
}

ul.acordeon li {
    padding: auto;
    justify-content: center;
    height: 40px;
    background-color: #4F4F4F;
    text-align: center;
    border-radius: 5px;
    border-color: white;
    font-size: 20px;
}

ul.acordeon div {
    margin: 10px;
    background-color: #333333;
    transform-style: preserve-3d;
}

ul.acordeon div.cont:hover {
    box-shadow: 0 0 5px #e2dcdd, 0 0 100px #b8a8ad, 0 0 10px #d17191;
    transform-style: preserve-3d;
    transform: scale(1.06);
    width: auto;
    height: auto;
}

ul.acordeon div p {
    margin-left: 50px;
    margin-right: 50px;
}


/* PLANES */

.cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    background: none;
    color: white;
    text-align: center;
    column-gap: 5px;
    padding: auto;
}

.card {
    position: relative;
    width: 90%;
    height: 500px;
    padding-top: 40px;
    border-radius: 30px;
    background-color: #1DB1F0;
}

.card .price {
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
    padding-right: auto;
    background-color: #1DB1F0;
}

.card h2 {
    background-color: #1DB1F0;
    text-align: center;
}

.card p {
    background-color: #1DB1F0;
}

.card img {
    height: 30px;
    width: 30px;
    background-color: #1DB1F0;
}

.card .box-inside {
    padding-top: 20px;
    padding-left: 10px;
    background-color: #1DB1F0;
}

.card .description {
    padding: 5px;
    background-color: #1DB1F0;
    text-align: left;
}

.button-plan {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #06709e;
}


/* PLAYLIST */

.titulo {
    grid-area: titulo;
}

.c1 {
    grid-area: sub1;
}

.c2 {
    grid-area: sub2;
}

.c3 {
    grid-area: sub3;
}

.c4 {
    grid-area: sub4;
}

.titulo,
.c1,
.c2,
.c3,
.c4 {
    margin-top: 20px;
}

.foto {
    grid-area: foto;
}

.playlists {
    grid-area: playlists;
    text-align: left;
}

div.explorar {
    width: 760px;
    height: 350px;
    display: grid;
    grid-template-columns: 30% 15% 15% 15% 15%;
    grid-template-rows: auto;
    grid-template-areas: "titulo sub1 sub2 sub3 sub4" "foto playlists playlists playlists playlists";
    background-color: rgba(33, 33, 33, 0.2);
    margin: 10px;
    text-align: center;
}

.icon {
    width: 25px;
    width: 25px;
    /* visibility: hidden; */
}


/* MOBILE */

@media only screen and (max-width: 600px) {
    /* Playist */
    .icon {
        visibility: hidden;
    }
    .c1,
    .c2,
    .c3,
    .c4 {
        visibility: hidden;
    }
    div.explorar {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 95%;
        grid-template-rows: auto;
        grid-template-areas: "titulo" "foto" "playlists";
        background-color: rgba(33, 33, 33, 0.3);
        margin: 10px;
        text-align: center;
    }
}