* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #333333; */
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #333333;
}

h1 {
    margin-top: 40px;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
}


/* header {
    width: auto;
    height: 73px;
    background: rgb(0, 0, 0);
} */

.carousel {
    width: 700px;
    height: 300px;
    position: relative;
    margin-left: 90px;
}

.carousel-inner {
    width: 700px;
    height: 300px;
    justify-content: end;
}


/* NAV */

.navigation {
    position: fixed;
    width: 60px;
    height: 100%;
    overflow: hidden;
    background: #1db1f0;
    z-index: 1;
    /* background: rgba(4f, 4f, 4f, 0.4); */
}

.navigation:hover,
.navigation.active {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    text-decoration: none;
}

.navigation ul li:hover {
    background: darkblue;
}

.navigation ul li a,
.navigation ul li {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
}

.navigation ul li a .icon,
.navigation ul li .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .fa,
.navigation ul li .icon .fa {
    font-size: 24px;
}

.navigation ul li a .title,
.navigation ul li .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li button {
    color: #000000;
    height: 30px;
    position: relative;
    display: block;
    padding: 0 10px;
    margin-top: 16px;
    margin-right: 5px;
    white-space: nowrap;
    border: none;
    border-radius: 10px;
}

.navigation ul li input {
    height: 30px;
    width: 100%;
    color: #000000;
    position: relative;
    display: block;
    padding: 0 10px;
    margin-top: 16px;
    white-space: nowrap;
    border-radius: 10px;
}

.toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #1db1f0;
    cursor: pointer;
    z-index: 1;
}

.toggle.active {
    background: darkblue;
}

.toggle:before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.toggle.active:before {
    content: '\f00d';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}


/* Sidebar abarcar toda la pantalla */

@media(max-width:650px) {
    .navigation {
        left: -60px;
    }
    .navigation.active {
        left: 0px;
        width: 100%;
    }
}


/* FOOTER - REPRODUCTOR */

footer {
    position: absolute;
    width: auto;
    height: 73px;
    left: -1px;
    top: 640px;
    z-index: 2;
    /* background-color: #000000; */
    /* background-image: url("img/reproductor.png"); */
}

.reproductor {
    position: fixed;
    /* display: inline-block;
    position: relative; */
    /* background-image: url("img/reproductor.png");
    width: 100%;
    height: 50px; */
}


/* FORM */


/* Registrar */


/* Password */

.container i {
    margin-left: -30px;
    cursor: pointer;
}

form {
    box-sizing: border-box;
    padding: 0;
}

form input {
    border: #6d858f;
    padding: 10px;
    width: 600px;
}

.titulo {
    grid-area: titulo;
    text-align: center;
    margin-left: 60px;
}

.registrar1 {
    grid-area: registrar1;
    background-color: #4267B2;
}

.registrar2 {
    grid-area: registrar2;
}

form {
    grid-area: form;
}

.form {
    position: relative;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    grid-template-areas: "titulo titulo" "registrar1 registrar2" "form form";
    background-color: rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 660px;
    margin-left: 27%;
    margin-right: 25%;
    text-align: center;
    margin-bottom: 10px;
}

.register-fb,
.register-google {
    padding: 5px;
    border: none;
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    margin-left: 10px;
}

.register-fb {
    margin-left: 90px;
    background-color: #4267B2 !important;
}

.register-google {
    background-color: #ffffff;
}

.register-google a {
    color: #828282;
    white-space: nowrap;
}

div.container {
    box-sizing: border-box;
}

div.input form input.input {
    margin-left: 20%;
    margin-bottom: 10%;
    width: 500px;
    height: 45px;
    padding: 5px;
    border: 5px;
    border-color: #1db1f0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

div.input form {
    justify-content: center;
    text-align: center;
}

div.input form .container #togglePassword {
    justify-content: end;
}


/* .form {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    grid-template-areas: "registrar1 registrar2";
    background-color: #000000;
    width: 700px;
    height: 706px;
    position: absolute;
    text-align: center;
   
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}



.register-fb a {
    background-color: #4267B2 !important;
    color: white;
}



.register-google img,
.register-google a {
    background-color: white;

    align-self: center;
} */

.button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #1DB1F0;
}


/* FAQ o Q&A */


/* ACORDION */

div.acordeon {
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #BDBDBD;
}

ul.acordeon li+div {
    overflow: hidden;
    height: auto;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
    transition-timing-function: ease;
    justify-content: center;
}

ul.acordeon li+div.visible {
    max-height: 100vh;
    text-decoration: none;
}

ul.acordeon {
    width: 100%;
    list-style-type: none;
}

ul.acordeon li {
    padding: auto;
    justify-content: center;
    height: 40px;
    background-color: #4F4F4F;
    text-align: center;
    border-radius: 5px;
    border-color: white;
    font-size: 20px;
}

ul.acordeon div {
    margin: 10px;
    background-color: #333333;
    transform-style: preserve-3d;
}

ul.acordeon div.cont:hover {
    box-shadow: 0 0 5px #e2dcdd, 0 0 100px #b8a8ad, 0 0 10px #d17191;
    transform-style: preserve-3d;
    transform: scale(1.06);
    width: auto;
    height: auto;
}


/* PLANES */

.cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    background: none;
    color: white;
    text-align: center;
    column-gap: 5px;
    padding: auto;
}

.card {
    position: relative;
    width: 90%;
    height: 500px;
    padding-top: 40px;
    border-radius: 30px;
    /* background-color: #1DB1F0; */
    /* opacity: 0.7; */
    background-color: rgba(0, 0, 0, 0.3);
}

.card .price {
    margin-top: 10px;
    text-align: left;
    padding-left: 20px;
    padding-right: auto;
    /* background-color: #1DB1F0; */
}

.card h2 {
    /* background-color: #1DB1F0; */
    text-align: center;
}

.card img {
    height: 30px;
    width: 30px;
    /* background-color: #1DB1F0; */
}

.card .box-inside {
    padding-top: 20px;
    padding-left: 10px;
    /* background-color: #1DB1F0; */
}

.card .description {
    padding: 5px;
    /* background-color: #1DB1F0; */
    text-align: left;
}

.button-plan {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 40px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #06709e;
}


/* PLAYLIST */

.titulo {
    grid-area: titulo;
}

.c1 {
    grid-area: sub1;
}

.c2 {
    grid-area: sub2;
}

.c3 {
    grid-area: sub3;
}

.c4 {
    grid-area: sub4;
}

.titulo,
.c1,
.c2,
.c3,
.c4 {
    margin-top: 20px;
    margin-bottom: ;
}

.foto {
    grid-area: foto;
}

.playlists {
    grid-area: playlists;
    text-align: left;
}

div.explorar {
    margin-top: 10px;
    margin-left: 90px;
    width: 700px;
    height: 350px;
    display: grid;
    grid-template-columns: 30% 15% 15% 15% 15%;
    grid-template-rows: auto;
    grid-template-areas: "titulo sub1 sub2 sub3 sub4" "foto playlists playlists playlists playlists";
    background-color: rgba(33, 33, 33, 0.5);
    /* margin: 10px; */
    text-align: center;
}

.icon {
    width: 25px;
    width: 25px;
    /* visibility: hidden; */
}


/* MOBILE */

@media only screen and (max-width: 600px) {
    /* NAV */
    /* Playist */
    .playlists .icon {
        visibility: hidden;
    }
    .c1,
    .c2,
    .c3,
    .c4 {
        visibility: hidden;
    }
    div.explorar {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 95%;
        grid-template-rows: auto;
        grid-template-areas: "titulo" "foto" "playlists";
        background-color: rgba(33, 33, 33, 0.3);
        margin: 10px;
        text-align: center;
    }
    /* PLANES */
    div.cards {
        margin: 0;
        margin-left: 30px;
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: auto;
        grid-template-areas: "card4" "card3" "card2" "card1";
    }
    div.card {
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
        margin: 10px;
        width: auto;
    }
    /* Q & A */
    div.acordeon {
        padding-top: 70px;
        margin: 0;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 15px;
    }
    div.acordeon li {
        /* padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px; */
        padding: 8px;
        height: auto;
        text-align: start;
        font-size: 15px;
    }
    ul.acordeon div.cont {
        padding: 0;
        margin: 5px;
    }
    /* FORMULARIOS, Registrar */
    .form {
        padding: 0;
        margin: 0;
        padding-top: 80px;
        height: auto;
        width: auto;
    }
    div.input {
        margin-top: 20px;
    }
    div.input input#texto1,
    div.input input#texto2,
    div.input input#texto3 {
        margin-left: 30px;
        width: 310px;
        margin-top: 5px;
    }
}