body {
    background-color: #333333;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 45% 25%;
    grid-template-rows: 20%;
    justify-items: stretch;
    grid-template-areas:
        "a a b"
        "c c c";
}

.top-left {
    margin-top: 20px;
    grid-area: a;
    display: grid;
    grid-template-areas:
        "col1 col2 col2";
}

.top-left>.col1 {
    grid-area: col1;
    display: grid;
    justify-items: end;
}

.top-left>.col1:hover .play-hide {
    display: block;
}


.play-hide {
    position: absolute;
    transform: scale(1.5);
    margin-left: 14%;
    margin-top: 7%;
    display: none;
}

.top-left>.col2 {
    grid-area: col2;
    justify-items: start;
}

.playlist-tittle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.playlist-subtittle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18.9771px;
    line-height: 33px;
    letter-spacing: 0.13555px;
    color: #828282;
}

.top-right {
    grid-area: b;
    background-color: #2E2E2E;
    stroke-width: 2px;
    border-radius: 5px;
    padding: 15px;
    overflow: auto;
}

.top-right>.playlist-subtittle {
    margin-top: 0;
    color: #BDBDBD;
}

.opiniones {
    border-radius: 7px;
    background-color: #393939;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18.9771px;
    line-height: 33px;
    letter-spacing: 0.13555px;
}

.opiniones>.usuario {
    margin-left: 2%;
    color: #828282;

}

.opiniones>.opinion {
    margin-left: 3%;
    color: #BDBDBD;

}

.song-list {
    grid-area: c;
    margin-top: 10px;
    height: 50%;
    overflow: auto;
    overflow-x: hidden;
}

.song-list>li {
    list-style: none;
    display: grid;
    justify-content: space-evenly;
    margin: 15px;
    background-color: #393939;
    color: #1DB1F0;
    grid-template-columns: 40% 40% 20% 20%;
    grid-template-areas:
        "a b c d";
}

.song-list>li .item1 {
    grid-area: a;
    display: grid;
    margin-left: 30%;
    justify-items: left;
}

.song-list>li .item2 {
    grid-area: b;
    display: grid;
    justify-items: left;
}

.song-list>li .item3 {
    grid-area: c;
    display: grid;
    justify-items: left;
}

.song-list>li .item4 {
    grid-area: d;
    display: grid;
    display: inline;
    margin-right: 0px;

}

.song-list>li:hover {
    transform: scale(1.007);
    transition-delay: 2.5s ease-in;
    color: #252525;
    background-color: #2a6f8d;
}